@model TradingERP.Models.RegisterMaster

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container-fluid">

<h4>Register Entry</h4>

        <form asp-action="Create" id="frmRegister" class="row bg-white p-3">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            
            <div class="form-group col-md-3">
                <label for="RgmDate" class="control-label">Date <span class="text-danger">*</span></label>
                <input asp-for="RgmDate" type="text" class="form-control datepicker-here" data-language="en" required data-val="true" data-val-required="Please select date" />
                <span asp-validation-for="RgmDate" class="text-danger"></span>
            </div>
            <div class="form-group col-md-3" >
            <div class="d-flex justify-content-between align-items-center">
                <label class="control-label" for="RgmParty">Party <span class="text-danger">*</span></label>
                <i id="addParty" class="fa fa-plus"></i>
            </div>
            <select asp-for="RgmParty" class="form-control selectpicker" required data-val="true" data-val-required="Please select date" data-live-search="true">
                
            </select>

            <span asp-validation-for="RgmParty" class="text-danger"></span>
            </div>
            <div class="form-group col-md-3">
            <div class="d-flex justify-content-between align-items-center">
                <label class="control-label" for="RgmSite">Site <span class="text-danger">*</span></label>
                <i id="addSite" class="fa fa-plus"></i>
            </div>
            <select asp-for="RgmSite" class="form-control selectpicker" required data-val="true" data-val-required="Please select date" data-live-search="true">
                
            </select>
                <span asp-validation-for="RgmSite" class="text-danger"></span>
            </div>
            <div class="form-group col-md-3">
                
            <div class="d-flex justify-content-between align-items-center">
                <label class="control-label" for="RgmVehicleNo">Vehicle No <span class="text-danger">*</span></label>
                <i id="addVn" class="fa fa-plus"></i>
            </div>
            <select asp-for="RgmVehicleNo" class="form-control selectpicker" required data-val="true" data-val-required="Please select date" data-live-search="true">
               
            </select>
                <span asp-validation-for="RgmVehicleNo" class="text-danger"></span>
            </div>
            <div class="form-group col-md-3">
            <div class="d-flex justify-content-between align-items-center">
                <label class="control-label" for="RgmItem">Item <span class="text-danger">*</span></label>
                <i id="addItem" class="fa fa-plus"></i>
            </div>
            <select asp-for="RgmItem" class="form-control selectpicker" required data-val="true" data-val-required="Please select date" data-live-search="true">
               
            </select>
                <span asp-validation-for="RgmItem" class="text-danger"></span>
            </div>
        <div class="form-group col-md-3" >
            <label for="RgmQty" class="control-label">Qty <span class="text-danger">*</span></label>
            <input asp-for="RgmQty" class="form-control" required data-val="true" data-val-required="Please select date" />
            <span asp-validation-for="RgmQty" class="text-danger"></span>
        </div>
        <div class="form-group col-md-3">
            <label for="RgmRate" class="control-label">Rate </label>
            <input asp-for="RgmRate" class="form-control" />
            <span asp-validation-for="RgmRate" class="text-danger"></span>
        </div>
        <div class="form-group col-md-3">
            <label for="RgmTotal" class="control-label">Total <span class="text-danger">*</span></label>
            <input asp-for="RgmTotal" class="form-control" required data-val="true" data-val-required="Please select date" />
            <span asp-validation-for="RgmTotal" class="text-danger"></span>
        </div>
            <div class="form-group col-md-3">
            <label for="RgmType" class="control-label">Type <span class="text-danger">*</span></label>
            <select asp-for="RgmType" class="form-control selectpicker"  data-live-search="true"  >
               <option value="Liz">Liz</option>
               <option value="Dealer">Dealer</option>
            </select>
                <span asp-validation-for="RgmType" class="text-danger"></span>
            </div>
        <div class="form-group col-md-3" style="display:none;" id="dealerDiv">
            
            <div class="d-flex justify-content-between align-items-center">
                <label class="control-label" for="RgmDealer">Dealer <span class="text-danger">*</span></label>
                <i id="addDealer" class="fa fa-plus"></i>
            </div>
            <select asp-for="RgmDealer" class="form-control selectpicker" data-live-search="true">
                
            </select>
            <span asp-validation-for="RgmDealer" class="text-danger"></span>
        </div>
        <div class="form-group col-md-3" style="display:none;" id="lizDiv">

            <div class="d-flex justify-content-between align-items-center">
                <label class="control-label" for="RgmLiz">Liz <span class="text-danger">*</span></label>
                <i id="addLiz" class="fa fa-plus"></i>
            </div>
            <select asp-for="RgmLiz" class="form-control selectpicker" data-live-search="true">
            </select>
            <span asp-validation-for="RgmLiz" class="text-danger"></span>
        </div>
        <div class="form-group col-md-3" id="RateDiv">
            <label asp-for="RgmRate1" class="control-label"></label>
            <input asp-for="RgmRate1" class="form-control" />
            <span asp-validation-for="RgmRate1" class="text-danger"></span>
        </div>
        <div class="form-group col-md-3" id="TotalDiv">
            <label for="RgmTotal1" class="control-label">Total <span class="text-danger">*</span></label>
            <input asp-for="RgmTotal1" class="form-control" required data-val="true" data-val-required="Please select date" />
            <span asp-validation-for="RgmTotal1" class="text-danger"></span>
        </div>
        
            <div class="form-group col-md-12" >
                <label for="RgmDocketNo" class="control-label">Docket No</label>
                <input asp-for="RgmDocketNo" class="form-control" />
                <span asp-validation-for="RgmDocketNo" class="text-danger"></span>
            </div>
       
        
          
       @*  <div class="form-group col-md-3">
            <label asp-for="RgmDriver" class="control-label"></label>
            <select asp-for="RgmDriver" class="form-control selectpicker" data-live-search="true">
                <option value="">Select Driver</option>
                @foreach (var drv in ViewData["driverList"] as IEnumerable<DriverMaster>)
                {
                    <option value="@drv.DrmName">@drv.DrmName</option>
                }
            </select>
            <span asp-validation-for="RgmDriver" class="text-danger"></span>
        </div> *@
       
       
           
           
           <div class="col-md-12 m-3">
            @if (ViewBag.response!=null)
            {
                if (ViewBag.response == "Success")
                {
                    <span class="alert alert-success">Record created successfully.</span>
                }
                else
                {
                    <span class="alert alert-danger">@ViewBag.response</span>
                }
            }
            <span class="m-3" id="frmMsg"></span>
           </div>
           
            
            <div class="form-group col-md-12 mt-3">
                <input type="submit" id="btnCreate" value="Create" class="btn btn-primary" />
            <a class="btn btn-secondary" asp-action="Index">Back to List</a>
            </div>
        </form>
   



</div>

<div class="modal" id="lizModal">
    <div class="modal-dialog">
        <div class="modal-content">

            <!-- Modal Header -->
            <div class="modal-header">
                <h4 class="modal-title">Add New Liz</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>

            <!-- Modal body -->
            <div class="modal-body">
                <form>
                    <div class="row">
                        <div class="form-group col-12">
                            <label>Name</label>
                            <input type="text" class="form-control" id="lzmName" name="lzmName" required data-val="true" data-val-required="Please enter name" />
                            <span class="text-danger" id="lzmNameMsg" data-valmsg-for="lzmName" data-valmsg-replace="true"></span>
                        </div>
                        <div class="form-group col-12">
                            <label>Contact No</label>
                            <input type="text" class="form-control" id="lzmContact" name="lzmContact" required data-val="true" data-val-required="Please enter contact no" />
                            <span class="text-danger" id="lzmContactMsg" data-valmsg-for="lzmContact" data-valmsg-replace="true"></span>
                        </div>
                        <div class="form-group col-12">
                            <label>City</label>
                            <input type="text" class="form-control" id="lzmCity" name="lzmCity" />
                            <span class="text-danger" data-valmsg-for="lzmCity" data-valmsg-replace="true"></span>
                        </div>
                    </div>
                </form>
            </div>

            <!-- Modal footer -->
            <div class="modal-footer">
                <p id="cstmLizLoader" style="display:none;" class="text-danger p-2">Please wait...</p>
                <button class="btn btn-primary" type="button" id="btnAddLiz">Add</button>
                <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
            </div>

        </div>
    </div>
</div>


<div class="modal" id="dealerModal">
    <div class="modal-dialog">
        <div class="modal-content">

            <!-- Modal Header -->
            <div class="modal-header">
                <h4 class="modal-title">Add New Dealer</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>

            <!-- Modal body -->
            <div class="modal-body">
                <form>
                    <div class="row">
                        <div class="form-group col-12">
                            <label>Name</label>
                            <input type="text" class="form-control" id="dlrName" name="dlrName" required data-val="true" data-val-required="Please enter name" />
                            <span class="text-danger" id="dlrNameMsg" data-valmsg-for="dlrName" data-valmsg-replace="true"></span>
                        </div>
                        <div class="form-group col-12">
                            <label>Contact No</label>
                            <input type="text" class="form-control" id="dlrContact" name="dlrContact" required data-val="true" data-val-required="Please enter contact no" />
                            <span class="text-danger" id="dlrContactMsg" data-valmsg-for="dlrContact" data-valmsg-replace="true"></span>
                        </div>
                        <div class="form-group col-12">
                            <label>City</label>
                            <input type="text" class="form-control" id="dlrCity" name="dlrCity"  />
                            <span class="text-danger" data-valmsg-for="dlrCity" data-valmsg-replace="true"></span>
                        </div>
                    </div>
                </form>
            </div>

            <!-- Modal footer -->
            <div class="modal-footer">
                <p id="cstmDealerLoader" style="display:none;" class="text-danger p-2">Please wait...</p>
                <button class="btn btn-primary" type="button" id="btnAddDealer">Add</button>
                <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
            </div>

        </div>
    </div>
</div>

<div class="modal" id="itemModal">
    <div class="modal-dialog">
        <div class="modal-content">

            <!-- Modal Header -->
            <div class="modal-header">
                <h4 class="modal-title">Add New Item</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>

            <!-- Modal body -->
            <div class="modal-body">
                <form>
                    <div class="row">
                        <div class="form-group col-12">
                            <label>Item Name</label>
                            <input type="text" class="form-control" id="itmName" name="itmName" required data-val="true" data-val-required="Please enter name" />
                            <span class="text-danger" id="itmMsg" data-valmsg-for="itmName" data-valmsg-replace="true"></span>
                        </div>

                    </div>
                </form>
            </div>

            <!-- Modal footer -->
            <div class="modal-footer">
                <p id="cstmItemLoader" style="display:none;" class="text-danger p-2">Please wait...</p>
                <button class="btn btn-primary" type="button" id="btnAddItem">Add</button>
                <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
            </div>

        </div>
    </div>
</div>

<div class="modal" id="VnModal">
    <div class="modal-dialog">
        <div class="modal-content">

            <!-- Modal Header -->
            <div class="modal-header">
                <h4 class="modal-title">Add New Vehicle No</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>

            <!-- Modal body -->
            <div class="modal-body">
                <form>
                    <div class="row">
                        <div class="form-group col-12">
                            <label>Vehicle No</label>
                            <input type="text" class="form-control" id="vnmNo" name="vnmNo" required data-val="true" data-val-required="Please enter no" />
                            <span class="text-danger" id="vnmNoMsg" data-valmsg-for="vnmNo" data-valmsg-replace="true"></span>
                        </div>
                       
                    </div>
                </form>
            </div>

            <!-- Modal footer -->
            <div class="modal-footer">
                <p id="cstmVnLoader" style="display:none;" class="text-danger p-2">Please wait...</p>
                <button class="btn btn-primary" type="button" id="btnAddVn">Add</button>
                <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
            </div>

        </div>
    </div>
</div>

<div class="modal" id="siteModal">
    <div class="modal-dialog">
        <div class="modal-content">

            <!-- Modal Header -->
            <div class="modal-header">
                <h4 class="modal-title">Add New Site</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>

            <!-- Modal body -->
            <div class="modal-body">
                <form>
                    <div class="row">
                        <div class="form-group col-12">
                            <label>Name</label>
                            <input type="text" class="form-control" id="stmName" name="stmName" required data-val="true" data-val-required="Please enter name" />
                            <span class="text-danger" id="stmNameMsg" data-valmsg-for="stmName" data-valmsg-replace="true"></span>
                        </div>
                        <div class="form-group col-12">
                            <label>Address</label>
                            <input type="text" class="form-control" id="stmAddress" name="stmAddress" />
                            <span class="text-danger" data-valmsg-for="stmAddress" data-valmsg-replace="true"></span>
                        </div>
                        
                    </div>
                </form>
            </div>

            <!-- Modal footer -->
            <div class="modal-footer">
                <p id="cstmSiteLoader" style="display:none;" class="text-danger p-2">Please wait...</p>
                <button class="btn btn-primary" type="button" id="btnAddSite">Add</button>
                <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
            </div>

        </div>
    </div>
</div>

<div class="modal" id="partyModal">
    <div class="modal-dialog">
        <div class="modal-content">

            <!-- Modal Header -->
            <div class="modal-header">
                <h4 class="modal-title">Add New Party</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>

            <!-- Modal body -->
            <div class="modal-body">
                <form>
                    <div class="row">
                        <div class="form-group col-12">
                            <label>Name</label>
                            <input type="text" class="form-control" id="prtName" name="prtName" required data-val="true" data-val-required="Please enter name" />
                            <span class="text-danger" id="prtNameMsg" data-valmsg-for="prtName" data-valmsg-replace="true"></span>
                        </div>
                        <div class="form-group col-12">
                            <label>Contact</label>
                            <input type="text" class="form-control" id="prtContact" name="prtName" />
                            <span class="text-danger" data-valmsg-for="prtContact" data-valmsg-replace="true"></span>
                        </div>
                        <div class="form-group col-12">
                            <label>City</label>
                            <input type="text" class="form-control" id="prtCity" name="prtCity" />
                            <span class="text-danger" data-valmsg-for="prtCity" data-valmsg-replace="true"></span>
                        </div>
                    </div>
                </form>
            </div>

            <!-- Modal footer -->
            <div class="modal-footer">
                <p id="cstmLoader" style="display:none;" class="text-danger p-2">Please wait...</p>
                <button class="btn btn-primary" type="button" id="btnAddParty">Add</button>
                <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
            </div>

        </div>
    </div>
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.13.18/js/bootstrap-select.min.js"></script>
<script src="~/js/Register.js"></script>
<script src="~/js/partial.js"></script>